header {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	background-color: #b700ff;
	justify-content: space-between;
	align-items: center;
}

.nav-container {
	display: flex;
	align-items: center;
}

header .nav-container .title {
	padding-right: 10px;
}

header .nav-links {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

header .nav-links .nav-link {
	color: #ffffff;
	text-decoration: none;
	padding: 0px 15px;
}

header .nav-button {
	padding: 5px;
	font-size: 15px;
}
